<form class="ui segment form" action="/dashboard/addStation" method="POST">
  <div class="three fields">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" type="text" minlength="1" maxlength="10" name="name">
    </div>
    <div class="field">
      <label>Latitude</label>
      <input placeholder="Latitude" type="number" min="-90" max="90" step="0.01" name="lat">
    </div>
    <div class="field">
      <label>Longitude</label>
      <input placeholder="Longitude" type="number" min="-90" max="90" step="0.01" name="lng">
    </div>
  </div>
  <button class="ui blue submit button">Add Station</button>
</form>