<div class="ui segment">
    <div class="ui inverted cards">

        <div class="card">
            <div class="content">
                <i class="right floated large blue city icon" ></i>
                <div class="header">${_station.name}</div>
                <div class="description">
                    <p>Lat: ${_station.latitude}</p>
                    <p>Lng: ${_station.longitude}</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <i class="right floated large blue cloud sun icon" ></i>
                <div class="header">Weather</div>
                <div class="description">
                    <p>${_latestReading.translatedWeatherCode}</p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <i class="right floated large blue thermometer icon" ></i>
                <div class="header">Temp</div>
                <div class="description">
                    <p>${_latestReading.temperature} C</p>
                    <p>${_latestReading.temperatureFahrenheit} F</p>
                    <p>Max: ${_station.maxTemp} C</p>
                    <p>Min: ${_station.minTemp} C</p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <i class="right floated large blue wind icon" ></i>
                <div class="header">Wind</div>
                <div class="description">
                    <p>${_latestReading.windBeaufort} bft</p>
                    <p>${_latestReading.windDirectionCompass}</p>
                    <p>Feels like</p>
                    <p>${_latestReading.windChill} C</p>
                    <p>Max: ${_station.maxWindBeaufort} bft</p>
                    <p>Min: ${_station.minWindBeaufort} bft</p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <i class="right floated large blue pressure icon" ></i>
                <div class="header">Pressure</div>
                <div class="description">
                    <p>${_latestReading.pressure} kPa</p>
                    <p>Max: ${_station.maxPressure} kPa</p>
                    <p>Min: ${_station.minPressure} kPa</p>

                </div>
            </div>
        </div>
    </div>
</div>